.post-card-container{
    background-color:  #f4f4f4 ;
    padding: 5px 20px;
    border-radius: 10px;
    /* width: 80%; */
    font-size: 0.6rem;
    font-weight: 400;
    margin: 10px 10px
}

.post-card-container img{
    margin: 15px auto;
    border-radius: 8px;
    width:100%;
    align-items: center;

}
.user-reacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reactions{
    display: flex;
    
}
.reaction-group{
    margin: 0 8px;
    display: flex;
    align-items: center ;
}